#todo-list
{
    width: 300px;
    margin: 0 auto;
}

#new-todo
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#add-todo
{
    width: 100%;
    background-color: #182747;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 20px 10px;
}